.all {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
/*一覧の頭*/
.searcharea {
	position: relative;
	background:#919191;
	height:60px;
	color:#fff;
	padding:0 10px;
	white-space:nowrap;
	border-bottom:solid 1px #fff;
}
/*検索フォーム*/
#form_s {
	position: absolute;
	top:25px;	
	right: 285px;
	max-width:270px;
}	
#serbox {
	position:absolute;
	left:0;
	top:0; 	
	outline:0;	
	height:30px;
	width:230px;	
	padding:0 10px;	 
	border-radius:2px 0 0 2px;
	background:rgb(255, 255, 255);		
}	
#serbtn {
	width:50px;
	height:30px; 
	position:absolute; 
	left:230px; 
	top:0;
	border-radius:0 2px 2px 0;
	background:#7fbfff; 
	border:none;
	color:#fff;
	font-weight:bold;
	font-size:14px; 
}
#serbtn:hover {
	color:#666;
}
/* セレクトボックス */
.kind select {
    position: relative;
    margin-left: 0;
    top: 30px;
    width: 200px;
	height: 25px;
	color: #666
}
/* ラジオボタン */
.radio {
    margin-left: 350px;
	height: 30px;
	width: 350px;
}
.radio-in {
	display: inline;
	margin-left: 2px;
}
