*{
	padding:0;
	margin:0;
	outline:0;
}
input,textarea,select{
	font-family:Verdana,sans-serif;
	font-size:13px;
}
.field{
	border:solid 1px #d3cfc7;
	background:#fff;
	padding:5px;
}
.small-field{
	border:solid 1px #d3cfc7;
	background:#fff;
	padding:3px 1px;
	font-size:11px
}
.checkbox{
	width:13px;
	height:13px;
	vertical-align:top;
	position:relative;
	top:2px
}
.button{
	background:#eee url(images/button.gif) repeat-x 0 0;
	border:solid 1px #b1a874;
	color:#7f7f7f;
	font-size:11px;
	padding:2px 6px;
	cursor:pointer;
	line-height:14px!important
}
.button:hover{
	color:#333;
	border-color:#857b42
}
.field:focus{
	color:#000;
	border-color:#857b42
}
a img{
	border:0
}
a{
	color:#ba4c32;
	text-decoration:underline;
	cursor:pointer
}
a:hover{
	color:#8d341f;
	text-decoration:none
}
.left,.alignleft{
	float:left;
	display:inline
}
.right,.alignright{
	float:right;
	display:inline
}
h2{
	font-size:15px;
	font-weight:400
}
h3{
	font-size:12px;
	line-height:14px;
	font-weight:400
}
h3 a{
	text-decoration:none
}
#main{

}
#sidebar{
	float:right;
	width:225px
}
.table{

}
.table th{
	background:#fffdfa url(images/th.gif) repeat-x 0 0;
	color:#818181;
	text-align:left;
	padding:7px 10px;
	border-bottom:solid 1px #d2d1cb
}
.table td{
	background:#fbfcfc;
	border-bottom:solid 1px #e0e0e0;
	padding:8px 10px}

.table tr:hover td{
	background:#fff9e1
}
.table a.ico{

}
.box{
	background:#fbfcfc;
	height:100%;
	padding:1px;
	margin-bottom:20px
}
.box-head{
	background:#919191;
	height:32px;
	color:#fff;
	padding:0 10px;
	line-height:32px;
	white-space:nowrap;
	border-bottom:solid 1px #fff
}
.box-head .right{
	padding-top:5px;
	line-height:13px
}
.box-head .right label,.box-head .right input{
	float:left
}
.box-head .right label{
	padding:4px 0 0
}
.box-head .right input{
	margin-left:5px
}
.pagging{
	height:20px;
	padding:8px 10px;
	line-height:19px;
	color:#949494
}
.pagging a{
	background:url(images/pagging.gif) repeat-x 0 0;
	height:20px;
	float:left;
	padding:0 8px;
	border:solid 1px #d5d5d5;
	text-decoration:none;
	color:#949494;
	margin-left:5px
}
.pagging a:hover{
	border-color:#8c3521;
	background:#ba4c32;
	color:#fff
}
.pagging span{
	float:left;
	margin-left:5px;
	padding-top:2px
}
a.ico{
	color:#9d9c9a;
	font-size:10px;
	text-decoration:none;
	padding:0 0 0 14px;
	background-repeat:no-repeat;
	background-position:0 0
}
a.ico:hover{
	color:#333;
}
.btn{

}
.buttons{
	text-align:right;
	padding:10px;
	background:#eee;
	border-top:solid 1px #e0e0e0
}
.buttons .button{
	margin-left:3px
}
.box{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0 0 6px #978f6c;
	-webkit-box-shadow:0 0 6px #978f6c
}
.box-head{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px
}
.field,.button{
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}
.small-field,.button,.pagging a{
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}
.button{
	-moz-box-shadow:0 0 2px #978f6c;
	-webkit-box-shadow:0 0 2px #978f6c
}
#so{
	position: relative;
	top:15px;
	left:620px;
	display: inline-block;
	padding: 13px 25px;
	background: #acacac;
	color: #FFF;
	font-size: 1em;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
#re{
	position: relative;
	top:15px;
	left:600px;
	display: inline-block;
	padding: 13px 25px;
	background: #acacac;
	color: #FFF;
	font-size: 1em;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
#co{
	position: relative;
	top:10px;
	left:5px;
}
.box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
    margin: 0; 
    padding: 0;
}
h1 img{
position: absolute;
top:40px;
left:100px;
}
.back1{
	

}
.gray {
	
	background-color:rgb(201, 201, 201);
	
   }
	
   .gray ul {
	width:1000px;
	margin:0 auto;
	list-style-type: none;
   }	
   .top ul {
	height:20px;
	
   }
	
   .top li {
	height:15px;
	margin-top:2px;
	float:right;
	font-size:10px;
	line-height:16px;
	padding:0 10px;
	border-left:1px solid #333;
	
   }
	
   .top li:first-child {
	padding-right:0;
   }
	
   .top li:last-child {
	padding-left:0;
	border-left:none;
	
   }
	
   .top li a {
	text-decoration:none;
	color:#333;
	
   }
	
   h1 {
	text-align:center;
	margin:25px auto 55px;
	
   }
	
   .navi ul {
	height:60px;
	text-align:center;
	
   }
	
   .navi li {
	display:inline-block;
	padding:0 10px;
   }
   #form1{
	position: absolute;;
	top:55px;	
	left:320px;
	max-width:270px;
	margin-bottom:15px; 	
	}
	
	#sbox{
	position:absolute;
	left:0;
	top:0; 	
	outline:0;	
	height:50px;
	width:270px;	
	padding:0 10px;	 
	border-radius:2px 0 0 2px;
	background:#eee;		
	}
	
	#sbtn{
	width:70px;
	height:50px; 
	position:absolute; 
	left:270px; 
	top:0;
	border-radius:0 2px 2px 0;
	background:#7fbfff; 
	border:none;
	color:#fff;
	font-weight:bold;
	font-size:16px; 
	}
	#sbtn:hover{
	color:#666;
	}
	.container1{
		font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
		text-align: center;
		position:absolute;
		top:60px;
		left:760px;
	  }
	  .btn-border {
		display: inline-block;
		max-width: 180px;
		text-align: left;
		border: 2px solid #7fbfff;
		font-size: 16px;
		color: #7fbfff;
		text-decoration: none;
		font-weight: bold;
		padding: 8px 25px;
		border-radius: 4px;
		transition: .4s;
		margin-right:10px
	  }
	  
	  .btn-border:hover {
		background-color: #7fbfff;
		border-color: #7fbfff;
		color: #FFF;
		
	  }
	  .users{
	  border-radius: 50%;
	  position: relative;
	  left:1100px;
	  top:25px;
	  }
	  /*ヘッダーまわりはご自由に*/

  
  #nav-drawer {
	position: absolute;
	top:68px;
	left:1260px;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
	display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
	  display: inline-block;
	  width: 30px;
	  height: 22px;
	  vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
	  position: absolute;
	  height: 5px;/*線の太さ*/
	  width: 40px;/*長さ*/
	  border-radius: 5px;
	  background: #555;
	  display: block;
	  content: '';
	  cursor: pointer;
  }
  #nav-open span:before {
	  bottom: -12px;
  }
  #nav-open span:after {
	  bottom: -24px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
	  display: none;/*はじめは隠しておく*/
	  position: fixed;
	  z-index: 99;
	  top: 0;/*全体に広がるように*/
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: black;
	  opacity: 0;
	  transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
	  overflow: auto;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 9999;/*最前面に*/
	  width: 90%;/*右側に隙間を作る*/
	  max-width: 330px;/*最大幅*/
	  height: 100%;
	  background: #fff;/*背景色*/
	  transition: .3s ease-in-out;/*滑らかに表示*/
	  -webkit-transform: translateX(410%);
	  transform: translateX(410%);/*左に隠しておく*/
  }
  #nav-content p{
	  padding-top:10px;
	  padding-left:15px;
	  
  }
  #nav-content p img{
  border-radius: 50%;
  }
  #nav-content li{
	float: none;
	font-size: 15px;
	padding: 10px 15px 10px 15px;
	list-style: none;
	text-align: left;
	border-bottom: medium solid #c0bebf;
  }
 #nav-content li:last-child{
	border: none;
	
 }
 #nav-content li a{
	text-decoration: none;
	color: #000;
	font-size: 20px;

 }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
	  display: block;/*カバーを表示*/
	  opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
	  -webkit-transform: translateX(310%);
	  transform: translateX(310%);/*中身を表示*/
	  box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  .hamburger-top {
	height: 40px;
	margin-top: 5px;
	margin-right : 100px;
  }
  .cancel {
	display: inline-block;
	position: relative;
	margin: 0 0 0 300px;
	padding: 0;
	width: 5px;
	height: 30px;
	background: #333;
	transform: rotate(45deg);
	z-index: 99
  }
  
  .cancel:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: -13px;
	width: 31px;
	height: 5px;
	margin-top: -3px;
	background: #333;
  }
  .back2{
	  margin-top:20px;
	padding: 0.5em;/*文字周りの余白*/
	background:  #c1dcff;/*背景色*/
	border-bottom: solid 3px #516ab6;/*下線*/
  }
  #jsi-button{
	background: 8px 9px #516ab6;
	padding: 6px 17px;
	border: none;
	cursor: pointer;
	line-height: 1.5em;
	outline: none;
	color:#FFFFFF;
	position: absolute;
	top:1100px;
	left:375px;
  }
  .text-center{
	  padding-right:400px;
  }
  .text-center #jsi-name{
	position: relative;
	top:5px;
}
  .text-center #com1 img{
		border-radius: 50%;
		position: relative;
		right:10px;
  }
  .text-center #com1{
	  padding:5px 170px 0px 0px;
	  position: absolute;
	  top:900px;
	  right:400px;
  }
  .text-center #com0{
	font-size:30px;
	position: absolute;
	top:790px;
	left:40px;
  }
#jsi-board{
 background: #ffffff;/*背景色*/
  padding:10em;/*文字まわり（上下左右）の余白*/
  width:80%;
	padding:10px;
	margin: 5px 10px 0;
	position: relative;
	left:30px;
}

.panel {
	position: relative;
	left:440px;
	margin: 0;
	width:380px;
}

.panel-body {
    height: 500px;
    overflow: auto;
}

.usr {
    float: right;
    background-color: rgb(152, 252, 152);
}

.inputText {
	text-align: right;
	display: inline-block;
}
.inputText textarea{
width:400px;
position: absolute;
top:970px;
left:40px;
}
.inputText button{
	position: absolute;
	top:1100px;
	left:385px;
}
#header{
	height:140px;
}
.panel #chat{
	

}
#header_shere{
	background:white;
	border:0.5px;
	border-style:solid;
	box-shadow:0px 0px 1px;
}