<<<<<<< HEAD
=======

>>>>>>> 34c66b168607b95ecabac46b2cca3c65226e2346
.icon{
	width: 160px;
  	height: 160px;
	border-radius: 50%;/*アイコンを丸くする*/
	position: relative;
    top: -84px;
	left: 11px;
	border: 5px #f8f8f8 solid;
  }
.username{
	position: relative;
    top: -97px;
    left: 0;
	font-size: 25px;
}
.userevaluation{
	position: relative;
    top: -207px;
    left: 333px;
}
/* ユーザー総合評価★レート */
.star-rating {
	position: relative;
    top: -199px;
    left: 289px;
    width: 5em;
    height: 1em;
    font-size: 33px;
    margin-left: 20px;
  }
  .star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #ffcc33;
  }
  .star-rating-back {
	color:#808080;
  }
.pt{
	position: relative;
    top: -265px;
    left: 700px;
}
.btn-real-dent {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color:#696969;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	margin: 0 0 0 25px;
  }
.btn-real-dent i {
	content: '';
	width: 80px;
	height: 80px;
	line-height: 80px;
	left: 10px;
	top: 9px;
	border-radius: 50%;
	font-size: 40px;
	background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
	border-bottom: solid 2px #b5b5b5;
  }
.btn-real-dent .fa:active {
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
	border-bottom: solid 2px #d8d8d8;
  }
  .btn-real-dent:hover {
	color: #000000;
  }

/*商品の横スクロール*/
.horizontal_scroll_wrap{
    height: 350px;
	margin: 0 0px;
	display: auto;
}
.scroll_lst {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 12px;
    margin: 25px 0 0;
    -webkit-overflow-scrolling: touch;
}
.scroll_item {
    margin: 0 10px;
    display: inline-block;
    width: 180px;
    border: 1px solid #ddd;
    background: #b7f8b7;
}
.scroll_item:first-child {
    margin-left: 10px;
}
.scroll_item_inr {
    display: block;
}
.scroll_item_info {
    white-space: normal;
	padding: 8px;
	text-align: center;
}

.scroll_item_thum{
	margin:10px 0 0 9px;
}
/*タブ切り替え全体のスタイル*/
.tabs {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 818px;
	height: 350px;
	margin: 0 40px;
	position: absolute; top:880px; right:193px;
  }
  
  /*タブのスタイル*/
  .tab_item {
	width: calc(100%/2);
	height: 50px;
	border-bottom: 3px solid #5ab4bd;
	background-color: #d9d9d9;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #565656;
	display: block;
	float: left;
	font-weight: bold;
	transition: all 0.2s ease;
  }
  .tab_item:hover {
	opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
	display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
	display: none;
	width: 818px;
	overflow: auto;
  }
  .tab_content::-webkit-scrollbar {
	display: none;
  }
  /*選択されているタブのコンテンツのみを表示*/
  #all:checked ~ #all_content,
  #evaluation:checked ~ #evaluation_content {
	display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
	background-color: #5ab4bd;
	color: #fff;
  }
  /* リスト */
  #all_content li {
	padding: 5px;
  }
  #evaluation_content li {
	padding: 5px;
  }

.sap_tabs_mypage{
	margin: 0 0 0 340px;
	width: 70%;
	clear:both;
	padding: 1em 0 4em;
	font-family: 'Roboto', sans-serif;
}
.sap_tabs_mypage{
	padding-top:0;
}
.sap_tabs_mypage{
	padding: 1em 0 2em;
}
h3.like_mypage, h3.recent_mypage{
	color: #333;
	font-size: 1.7em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1em;
}
h3.like_mypage, h3.recent_mypage {
	font-size: 1.2em;
}
h3.recent_mypage{
	padding-top:2em;
}
.grid-flex_mypage{
	margin:10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
}
