.sort_command{
	background-color: rgb(255, 255, 255);
	box-shadow:0px 0px 1px;
	height:40px;
	line-height:40px;
	margin-bottom:15px;
	width:845px;
	margin-left:25px;
}
.sort_command li{
	text-decoration: underline;
	display: inline-block;
	margin-right:20px;
}
.sort_command a{
	vertical-align:middle;
	color:rgb(8, 8, 8);
}
.sort_command ul{
	margin-left:60px;
	display: inline-block;
}
.product_name{
	height:50px !important;
	background:white !important;
	color:black !important;
	font-size:20px !important;
}
.product_price{
	height:50px;
	display:inline-block;
	background:white;
	color:black;
	font-size:20px;
}

#category{
    width:24%;
 	color: #555;
	font-size:1.5em;
    line-height: 1.2;
    margin-top:35px;
    margin-right:50px;
    font-weight: normal;
    letter-spacing: -1px;
    padding-bottom:5px;
	text-transform: uppercase;
	border-bottom: 3px solid #DFDDDD;
	font-family: 'Roboto', sans-serif;
	position:absolute;
	font-weight: bold;
}
.category_main{
	color: #554242;
	border-left: solid 6px #1fa67a;/*左側の線*/
	border-bottom: solid 2px #dadada;/*下に灰色線*/
	background: whitesmoke;
	margin-bottom: 5px;/*下のバーとの余白*/
	line-height: 1.5;
	padding: 0.5em;
	list-style-type: none!important;/*ポチ消す*/
	font-weight: bold;
	position:absolute;
	text-align:top;
	padding-top:20px;
    padding-left:5px;
	font-size:18px;
	display:inline-block;
	height:65px;
	width:24%;
	cursor:default;
}

#category_sub1{
	position:absolute;
	width:200px;
	margin-top:150px;
	height:65px;
	z-index:100;
}
#category_sub2{
	position:absolute;
	width:200px;
	margin-top:220px;
	height:65px;
	z-index:101;
}
#category_sub3{
	position:absolute;
	margin-top:290px;
	width:200px;
	height:65px;
	z-index:102;
}
#category_sub4{
	position:absolute;
	margin-top:360px;
	width:200px;
	height:65px;
	z-index:103;
}
#category_sub5{
	position:absolute;
	margin-top:430px;
	width:200px;
	height:65px;
	z-index:104;
}
#category_sub6{
	position:absolute;
	margin-top:500px;
	width:200px;
	height:65px;
	z-index:105;
}
#category_sub7{
	position:absolute;
	margin-top:570px;
	width:200px;
	height:65px;
	z-index:106;
}
#category_detail{
	display:block;
	height:50%;
	border-style:solid;
	padding-top:3px;
	border-left: solid 6px #a80303;/*左側の線*/
	border-bottom: solid 2px #dadada;/*下に灰色線*/
	background: whitesmoke;
	line-height: 1.5;
	font-weight: lighter;
	padding: 0.5em;
	list-style-type: none!important;/*ポチ消す*/
	
}
.product_images{
  display: block;
  max-width: 100%;
  min-height:263.34px;
  height: auto;
  margin-top:4px;

}

.ribbon-wrap {
    width: 270px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.cat-ribbon span {
    width: 136px;
    padding: 0px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 14px;
    right: -39px;
    z-index: 10;
    background: #d93131;
    color: #fff;
    transform: rotate(45deg);
}

.cat-ribbon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -33px;
    right: 63px;
    z-index: 0;
    border: 17px solid;
    border-color: transparent transparent #662121 transparent;
}
.cat-ribbon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 56px;
    right: -39px;
    z-index: 0;
    border: 20px solid;
    border-color: #662121 transparent transparent transparent;
    transform: rotate(-90deg);
}




.product_image:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transition-duration: 0.5s;
}