.sort_command{
	background-color: rgb(218, 218, 218);
	box-shadow:0px 0px 1px;
	height:40px;
	line-height:40px;
	margin-bottom:15px;
	width:845px;
	margin-left:25px;
}
.sort_command li{
	text-decoration: underline;
	display: inline-block;
	margin-right:20px;
}
.sort_command a{
	vertical-align:middle;
	color:rgb(49, 49, 49);
}
.sort_command ul{
	margin-left:60px;
	display: inline-block;
}
.product_name{
	height:50px !important;
	background:white !important;
	color:black !important;
	font-size:20px !important;
}
.product_price{
	height:50px;
	display:inline-block;
	background:white;
	color:black;
	font-size:20px;
}

#category{
    width:24%;
 	color: #555;
	font-size:1.5em;
    line-height: 1.2;
    margin-top:35px;
    margin-right:50px;
    font-weight: normal;
    letter-spacing: -1px;
    padding-bottom:5px;
	text-transform: uppercase;
	border-bottom: 3px solid #DFDDDD;
	font-family: 'Roboto', sans-serif;
	position:absolute;
	font-weight: bold;
}
.category_main{
	color: #554242;
	border-left: solid 6px #1fa67a;/*左側の線*/
	border-bottom: solid 2px #dadada;/*下に灰色線*/
	background: whitesmoke;
	margin-bottom: 5px;/*下のバーとの余白*/
	line-height: 1.5;
	padding: 0.5em;
	list-style-type: none!important;/*ポチ消す*/
	font-weight: bold;
	position:absolute;
	text-align:top;
	padding-top:20px;
    padding-left:5px;
	font-size:18px;
	display:inline-block;
	height:65px;
	width:24%;
	cursor:default;
}

#category_sub1{
	position:absolute;
	width:200px;
	margin-top:150px;
	height:65px;
}
#category_sub2{
	position:absolute;
	width:200px;
	margin-top:220px;
	height:65px;
}
#category_sub3{
	position:absolute;
	margin-top:290px;
	width:200px;
	height:65px;
}
#category_sub4{
	position:absolute;
	margin-top:360px;
	width:200px;
	height:65px;
}
#category_sub5{
	position:absolute;
	margin-top:430px;
	width:200px;
	height:65px;
}
#category_sub6{
	position:absolute;
	margin-top:500px;
	width:200px;
	height:65px;
}
#category_sub7{
	position:absolute;
	margin-top:570px;
	width:200px;
	height:65px;
}
#category_detail{
	display:block;
	height:50%;
	border-style:solid;
	padding-top:3px;
	border-left: solid 6px #a80303;/*左側の線*/
	border-bottom: solid 2px #dadada;/*下に灰色線*/
	background: whitesmoke;
	line-height: 1.5;
	font-weight: lighter;
	padding: 0.5em;
	list-style-type: none!important;/*ポチ消す*/
	
}
.product_images{
  display: block;
  max-width: 100%;
  min-height:263.34px;
  height: auto;
  margin-top:4px;
}
