.kakomi-box {
	padding: 1em;
	width: 70%;
	background-color: #f8f8f8; /* 背景色 */
	border: 1px solid #ccc; /* 枠線 */
	border-radius: 0.75em;
   }
   .btn111 input[type="submit"]{
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background: #fb4d01;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom: 2em;
	border-radius: 0.75em;
   }
   .btn111 input[type="submit"] {
	font-size: 0.85em;
	padding: 10px 50px;
	position: relative;
	left:20px;
}
.btn111 input[type="submit"]:hover{
	background: #ee4a02;
}

.kakomi-box1 {
    
	margin: 1em auto;
	padding: 1em;
	width: 17%;
	background-color: #FFF5EE;
	box-shadow: 0 0 5px 1px #ccc; 
	position: absolute;
	left:1000px;
	top:230px;
	border-radius: 0.75em;

   }
   .box11{
	width: 70%;
	margin: 0.5em 0 ;
	padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #FF5B36;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	border-radius: 0.75em;

}
.box11 p {
    margin-bottom: -20px; 
    padding: 0;
    font-size:20px;
}
.box11 img{
    position: relative;
    bottom:36px;
}
.box11 .name1{
    position: relative;
    top:20px;
	left:110px;
	font-size:25px;
}
.box11 .count1{
	width:13%;
	position: relative;
    top:38px;
	left:200px;
	color:rgb(219, 83, 83);
	border: double 5px rgb(141, 184, 131);
	border-radius: 0.50em;

}
.box11 .price1{
	display: inline-block;
    position: relative;
    top:70px;
	left:350px;
	color:rgb(219, 83, 83);
	border: double 5px rgb(141, 184, 131);
	border-radius: 0.50em;

}
.sen{
    color: #555;
	margin-bottom: 0em;
	font-size:1.8em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
	font-family: 'Roboto', sans-serif;
}

.siha{
	position: absolute;
	top:260px;
	left:380px;
}
.otodo{
	
}
.poi{
	position: absolute;
	top:260px;
	left: 600px;
}
.poi .btn{
	position: relative;
	left:10px;
	
}
.tentou{
	position: absolute;
	top:420px;
	left:120px;	
}
.tentou b{
	color:rgb(250, 192, 137);
}
.seikyu{
	position: absolute;
	top:350px;
	left: 380px;
}
.seikyu p{
	color:rgb(143, 142, 142);
}
.btn222 form input[type="submit"]{
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background: #fb4d01;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom: 1em;
	border-radius: 0.75em;

   }
   .btn222 form input[type="submit"] {
	font-size: 0.85em;
	padding: 10px 50px;
	position: relative;
	left:18px;
}
.btn222 form input[type="submit"]:hover{
	background: #ee4a02;
}
.title{
	color: #555;
	margin-bottom: 0.5em;
	font-size:1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	font-family: 'Roboto', sans-serif;
}
.btn222 p{
	color:rgb(122, 122, 122);
}
.seikyu1{
	color: rgb(255, 54, 54);
}
.btn222 .syou{
	position: absolute;
	top:90px;
	left:193px;
	}
	.btn222 .haiso{
		position: absolute;
		top:111px;
		left:212px;
		}
		.btn222 .gose{
			position: absolute;
			top:168px;
			left:193px;
			}
.kakomi-box2{
    
	margin: 1em auto;
	padding: 1em;
	width: 20%;
	background-color: #FFF5EE;
	box-shadow: 0 0 5px 1px #ccc; 
	position: absolute;
	left:1000px;
	top:230px;
	border-radius: 0.75em;
   }
   .kakomi-box3{
	padding: 1em;
	width: 70%;
	height: 270px;
	background-color: #f8f8f8; /* 背景色 */
	border: 1px solid #ccc; /* 枠線 */
	border-radius: 0.75em;

   }
   .kakomi-box11{
	margin: 1em auto;
	padding: 1em;
	width: 70%;
	background-color: #FFF5EE;
	box-shadow: 0 0 5px 1px #ccc; 
	margin-bottom:200px;
   }
   .kakomi-box12{
	margin: 1em auto;
	padding: 1em;
	width: 70%;
	background-color: #FFF5EE;
	box-shadow: 0 0 5px 1px #ccc; 
	margin-bottom:200px;
	border-radius: 0.75em;
   }
   .kakomi-box12 p{
	   font-size:30px;
	   color:rgb(252, 149, 126);
   }
   ul{
	   list-style-type: none;
   }
   .mae1{
	   
	   position: absolute;
	   top:200px;
	   left:1000px;
   }
   ul.mae1 li a{
	color:#999;
	font-size:0.8125em;
}
ul.mae2 li a{
	position: absolute;
	top:23px;
	left:190px;
	color:#ee4a02;
	font-size:0.8125em;
}
.btn333 form input[type="submit"]{
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background: #fb4d01;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom: 1em;
	border-radius: 0.75em;
   }
   .btn333 form input[type="submit"] {
	font-size: 0.85em;
	padding: 10px 50px;
	position: absolute;
	top:350px;
	left:950px;
}
.btn333 form input[type="submit"]:hover{
	background: #ee4a02;
}
label{
	color:red;
}
.point1{
	border-radius: 0.40em;

}
.userpoint{
    border-radius: 0.40em;
}