.tab-group{
    display: flex;
    justify-content: center;
    width:60%;
	margin-top:25px;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
    -webkit-border-top-left-radius:5px
}
.panel-group{
    width:77%;
    z-index:2;
    font-family: 'Tahoma';
    position:relative;
}
.panel{
   
}
.tab.is-active{
    transition: all 0.5s ease-out;
}
.chose{
	background:rgb(163, 145, 121);
	 color:#FFF;
}
 
.hide{
    display: none;
}
.visible{
    display: inline;
}
.color_befor{
   color: #574a4a;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
 
}
.color_after{
  color: #2d8fdd;
  border-left: solid 6px #60c59e;/*左側の線*/
  background: #f2fcf0;/*背景色*/
}
.mouse{
   cursor:pointer; 
}