.tab-group{
    display: flex;
    justify-content: center;
    width:60%;
	margin-top:25px;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
    -webkit-border-top-left-radius:5px
}
.panel-group{
    width:77%;
    z-index:2;
    font-family: 'Tahoma';
}
.panel{
}
.tab.is-active{
    transition: all 0.2s ease-out;
}
.chose{
	background:rgb(163, 145, 121);
	 color:#FFF;
}
 
.hide{
    display: none;
}
.visible{
    display: inline;
}
.color_befor{
    background : rgb(160, 160, 160);
}
.color_after{
    background : rgb(207, 189, 177);
}
.mouse{
   cursor:pointer; 
}