/*CHECKの枠*/
.register-box30 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.register-box30 .register-box-title {
    font-size: 1.2em;
    background: #FF5B36;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.register-box30 p {
    padding: 15px 20px;
    margin: 0;
}
.register-but-user{
	margin-top:1em;
}
.register-but-user input[type="submit"] {
	background:#fb4d01;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
	
}
.register-but-user input[type="submit"]:hover {
	background:#26d2fc;
}
.user_check h3{
	text-align: center;
	color: #fb4d01;
	font-size: 25px;
}
.user_check h4{
	position: relative; top: 0; left:420px;
	padding: 10px;
	display: inline-block;
	border-bottom: medium solid #a9a9a9;
}
.register-but-detail{
	margin-top:1em;
	position: relative;
    left: 53px;
}
.register-but-detail form input[type="submit"] {
	background:#fb4d01;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
	margin: 0 0 0 160px;
<<<<<<< HEAD
	border-radius: 5px;
=======
>>>>>>> cba14ffa248fe209a6a9f9a6922dfdb360292b98
}
.register-butdetail input[type="submit"]:hover {
	background:#26d2fc;
}
.btn_form input[type="button"] {
	background:#fb4d01;
	color: #FFF;
	font-size: 16px;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
	width: 145px;
    height: 50px;
<<<<<<< HEAD
	margin: 15px 0 0 30px;
	border-radius: 5px;
=======
    margin: 0px 0 0 30px;
>>>>>>> cba14ffa248fe209a6a9f9a6922dfdb360292b98
}
.btn_form input[type="button"]:hover {
	background:#26d2fc;
}