<!--A Design by W3layous
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Surfhouse Bootstarp Website Template | Contact :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/adm_header.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{include file='shere_admin.tmpl'}
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
{literal}
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
{/literal}
</head>
<body>
   <div class="main">
	  <div class="content_box">
		<div class="container">
			<div class="row">
				
			  <div class="col-md-9">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="admin_top.php" title="Go to Home Page">top</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       お問い合わせ一覧
                    </li>
                </ul>
                <div class="clearfix"></div>
				<div heigt="100px">
				 <ul class="tab-group" style="width:20%;height:20%;margin-top:50px">
					<li id="not_reply"class="tab is-active">返信済み</li>
					<li id="replyed"class="tab">未返信</li>
				</ul>
				<div>
			   </div>
                
				  <form name="form"action="contact_list.php" method="post">
				   <div id="box2"class="box"style="width:1100px;">
                    <div class="box-head">
                        <h2 class="left"style="margin-top:8px;">お問い合わせ一覧</h2>
						<div class="right">
							 <input type="submit" class="button" value="reset" id="search" />
                        </div>
                        <div class="right">
                            <label>検索</label>
                            <input type="text"name="search_text1"class="field small-field" />
                            <input type="submit" class="button" value="search" id="search" />
                        </div>
                    </div>
                    <div class="table">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr id="odd">
                                    <th width="13"></th>
									<th width="5%"style="min-width:96px">ユーザID</th>
                                    <th width="25%"style="min-width:10%">メールアドレス</th>
                                    <th width="50%">お問い合わせ</th>
                                    <th width="10%"style="min-width:91.5px">返信状況</th>
                                    <th width="10%" class="ac">削除</th>
                                </tr>
								{foreach from=$contact_replyed item=contact1}
                                <tr>
								<form name="form"action="contact_list.php" method="post">
                                    <td><input type="checkbox"name="con1[]"value="{$contact1['contact_id']}"class="checkbox" style="margin-bottom:7px;"onClick="DisChecked1();" /></td>
									<td>{$contact1['customer_id']}</td>
                                    <td>{$contact1['customer_email']}</td>
                                    <td>{$contact1['contact_text']}</td>
                                    <td>返信済み</td>
                                    <td><input class="delbtn" type="submit" id="delBtn1" value="削除"style="width:50px;height:30px"></td>
                               
								</tr>
								{/foreach}
                            </table>
                             <div class="pagging">
							 		{if $max1 == 0}
									<div class="left">表示中 0</div>
									{elseif $limit1>$max1-$from1}
									<div class="left">表示中 {$from1+1}-{$max1}</div>
									{else}
									<div class="left">表示中 {$from1+1}-{$from1+$limit1}</div>
									{/if}
									{if $now_page1-1>0}
									<a href="contact_list.php?page1={$now_page1-1}">前へ</a>
									{else}
									<a href="contact_list.php?page1={$now_page1}">前へ</a>
									{/if}
									{for $start1=1 to $limit_page1}
									<a href="contact_list.php?page1={$start1}">{$start1}</a>
									{/for}
									{if $limit_page1>4}
									<span>...</span>
									<a href="contact_list.php?page1={$page_max1}">{$page_max1}</a>
									{/if}
									{if $now_page1+1>$page_max1}
									<a href="contact_list.php?page1={$now_page1}">次へ</a>
									{else}
									<a href="contact_list.php?page1={$now_page1+1}">次へ</a>
									{/if}
									<a href="contact_list.php?limit1=over">全て表示</a>
								</div>
                    </div>
                        </div>
		        
		    <div id="box1"class="box"style="width:1100px;">
                    <div class="box-head">
                        <h2 class="left"style="margin-top:8px;">お問い合わせ一覧</h2>
						<div class="right">
							 <input type="submit" class="button" value="reset" id="search" />
                        </div>
                        <div class="right">
                            <label>検索</label>
                            <input type="text"name="search_text2"class="field small-field" />
                            <input type="submit" class="button" value="search" id="search" />
                        </div>
                    </div>
                    <div class="table">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr id="odd">
                                    <th width="13"></th>
									<th width="5%"style="min-width:96px">ユーザID</th>
                                    <th width="25%"style="min-width:10%">メールアドレス</th>
                                    <th width="50%">お問い合わせ</th>
                                    <th width="10%"style="min-width:91.5px">返信状況</th>
                                    <th width="10%" class="ac">返信</th>
                                </tr>
								{foreach from=$contact_not_reply item=contact2}
                                <tr>
                                    <td><input type="checkbox"class="checkbox"style="margin-bottom:7px;visibility:hidden"/></td>
									<td>{$contact2['customer_id']}</td>
                                    <td>{$contact2['customer_email']}</td>
                                    <td>{$contact2['contact_text']}</td>
                                    <td>未返信</td>
                                    <td><a style="color:black"href="contact_detail.php?contact_id={$contact2['contact_id']}"><input class="edibtn" type="button" id="delBtn1" value="返信" onclick="location.href='contact_detail.php'"style="width:50px;height:30px"></a></td>
                                </tr>
								{/foreach}
                            </table>
                            <div class="pagging">
							 		{if $max2 == 0}
									<div class="left">表示中 0</div>
									{elseif $limit2>$max2-$from2}
									<div class="left">表示中 {$from2+1}-{$max2}</div>
									{else}
									<div class="left">表示中 {$from2+1}-{$from2+$limit2}</div>
									{/if}
									{if $now_page2-1>0}
									<a href="contact_list.php?page2={$now_page2-1}">前へ</a>
									{else}
									<a href="contact_list.php?page2={$now_page2}">前へ</a>
									{/if}
									{for $start2=1 to $limit_page2}
									<a href="contact_list.php?page2={$start2}">{$start2}</a>
									{/for}
									{if $limit_page2>4}
									<span>...</span>
									<a href="contact_list.php?page2={$page_max2}">{$page_max2}</a>
									{/if}
									{if $now_page2+1>$page_max2}
									<a href="contact_list.php?page2={$now_page2}">次へ</a>
									{else}
									<a href="contact_list.php?page2={$now_page2+1}">次へ</a>
									{/if}
									<a href="contact_list.php?limit2=over">全て表示</a>
							</div>
                    </div>
            </div>
		</div>
	</div>
			 {literal}
			<script>
			$(function() {
					// クッキー保存されている or いない場合
					if ($.cookie('num')) {
						num = $.cookie('num');  //←★1
					} else {
						num = 0;    // ←★2
					}
				
					// タブ処理
					tabSwitching(num);
						
				
					// クリックされた場合
					$('.tab-group li').click(function() {
						// クリックされた <li> のインデックス番号を取得
						num = $('.tab-group li').index(this);
						// タブ処理
						tabSwitching(num);
						
						// クッキーを保存
						// 有効期限は1日(ブラウザを閉じたら初期化)
						$.cookie('num', num, {expires: 1});     // ←★3
					});
				
				
					// タブ切り替え処理
					function tabSwitching(num){
						// リストに設定されている class="chose" を削除
						$('.tab-group li').removeClass('chose');
				
						// 前回クリックされていた <li> に class="chose" 追加
						$('.tab-group li').eq(num).addClass('chose');
				
						// tabContents に class="hide" を追加
						$('.box').addClass('hide');
				
						// 取得したインデックス番号の class="hide" を削除
						$('.box').eq(num).removeClass('hide');
						if(num==1){
							$('#all_delete').addClass('hide');
							$('#all_check').addClass('hide');
						}
						else{
							$('#all_delete').removeClass('hide');
							$('#all_check').removeClass('hide');
						}
					}
				});
							
				//チェックボタン
				// 「全て選択」チェックで全てにチェック付く
				function AllChecked(){
					var check =  document.form.all.checked;
					for (var i=0; i<document.form.elements['con1[]'].length; i++){
						document.form.elements['con1[]'][i].checked = check;
					}
				}
				// 一つでもチェックを外すと「全て選択」のチェック外れる
				function　DisChecked(){
					var checks = document.form.elements['con1[]'];
					var checksCount = 0;
					for (var i=0; i<checks.length; i++){
						if(document.form.elements['con1[]'][i].checked == false){
							document.form.all.checked = false;
						}else{
							checksCount += 1;
							if(checksCount == document.form.elements['con1[]'][i].length){
							document.form.all.checked = true;
							}
						}
					}
				}
			</script>
			 {/literal}
			<noscript>スクリプトが使えないときに表示されます</noscript>
		   </div>
		  </div>
	     </div>
	    </div>
	    </div>
			<span id="all_check"style="position:absolute;top:210px;left:67%"><input name="all" type="checkbox"style="transform:scale(1.2);margin-right:5px;margin-top:4px;"onClick="AllChecked();"/>全てチェック</span>
			<input id="all_delete"type="submit"style="position:absolute;height:30px;top:205px;left:78.5%;font-size:15px;"value="チェックを全て削除"/>
		 </form>
		 {literal}
		
</body>
{/literal}
</html>	