 
 
  <div class="yuubi">
					 <span><p>郵便番号</p></span>
					 <input type="text" class="form_text-small" name="zip21" id="zip21" size="4" maxlength="3"> － <input type="text" class="form_text-small" name="zip22" id="zip22"  size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('zip21','zip22','addr21','addr21');">
					 </div>
					 <div class="customer3">
						<span><p>住所 <U id="addr21_error"></U></p></span>
						<input type="text" name="addr21" id="addr21"  value="{if isset($POST['customer_address'])}{$POST['customer_address']}{/if}"> 
					 </div>
					 <div class="customer2">
						 <span><p>メールアドレス <U id="customer_email_register_error"></U></p></span>
						 <input type="text" name="customer_email" id="customer_email"  class="name1" autocomplete="off" value="{if isset($POST['customer_email'])}{$POST['customer_email']}{/if}">
					 </div>
 
 
 <div class="register-bottom-grid">
							<h3>ID・パスワード登録</h3>
							<div>
								{if $flg['customer_id'] eq true}<font color="red">このIDは使用されています</font>{/if}
								<span><p>ID <U id="customer_id_error"></U></p></span>
								<input type="text" name="customer_id" id="customer_id"  autocomplete="off" value="{if isset($POST['customer_id'])}{$POST['customer_id']}{/if}">
							 </div>
							 <div>
								<span><p>パスワード(6文字以上15文字以下　半角英数)</p></span>
								<input type="customer_id" name="customer_password" id="customer_password"  size="30" minlength="6" autocomplete="off">
							 </div>
							 <div class="customer4">
								<span><p>パスワード確認</p></span>
								<input type="password" name="customer_password_check" size="30" minlength="6" autocomplete="off">
							 </div>
							 <input type="submit" class="kakunin"  id="js-show-popupHensyu" value="確認">
					 </div>