<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>RE:SURVIVAL : ログイン</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<link href="css/manager.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
{include file='shere_noncart.tmpl'}
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,s
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
</head>
<body>
   <div class="main">
	  <div class="content_box">
		<div class="container">
			<div class="row">
			  <div class="col-md-9">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="product_list.php" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        &nbsp;Account
                        <span>&gt;</span>&nbsp;
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="product_list.php">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   
			   <div class="col-md-6 login-right">
			  	<h4>RE:SURVIVALにログイン</h4>
				<form action="loginH.php" method="post">
				  <div>
					<span>ユーザーID<label>*</label></span>
					<input type="text" name="login_id" value="{if isset($id)}{$id}{/if}"> 
				  </div>
				  <div>
					<span>パスワード<label>*</label></span>
					<input type="password" name="login_pw" value="{if isset($pw)}{$pw}{/if}"> 
				  </div>
				  <div style="margin-top:10px;margin-bottom:10px;color:red;" >
				   {if isset($err_message)}
				  {$err_message}
				  {/if}
				  </div>
				  <div style="display:inline-block">
				  <input type="submit" name="submit_button" value="ログイン">
				  </form>	     
				   <a class="acount-btn" href="user_Register.php" style="margin-left:5px;margin-bottom:7px">会員登録</a>
				   <div>
				   	<u><a class="forgot" href="#" style="margin-top:10px">パスワードをお忘れの場合</a></u>
				  </div>
				  </div> 
			   </div>	
			   <div class="clearfix"> </div>
			 </div>
		   </div>
		  </div>
	     </div>
	    </div>
	    </div>	
</body>
</html>		