<!--A Design by W3layous
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Surfhouse Bootstarp Website Template | Contact :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/manager.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{include file='shere_admin.tmpl'}
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
{literal}
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
{/literal}
</head>
<body>
   <div class="main">
	  <div class="content_box">
		<div class="container">
			<div class="row">
				
			  <div class="col-md-9">
			    <div class="dreamcrub">
			   	
            
                
                <div class="clearfix"></div>
			   </div>
				  <form name="form"action="manager_list.php" method="post"style="margin-left:220px">
				   <div id="box1"class="box"style="width:700px;">
                    <div class="box-head">
                        <h2 class="left"style="margin-top:8px;">お問い合わせ一覧</h2>
						<div class="right">
							 <input type="submit" class="button" value="reset" id="search" />
                        </div>
                        <div class="right">
                            <label>検索</label>
                            <input type="text"name="search_text"class="field small-field" />
                            <input type="submit" class="button" value="search" id="search" />
                        </div>
                    </div>

                    <div class="table">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr id="odd">
                                    <th width="5%"></th>
									<th width="15%"style="min-width:96px">管理者ID</th>
                                    <th width="15%"style="min-width:10%">管理者名</th>
									<th width="25%"style="min-width:10%">作成日</th>
                                    <th width="15%">権限</th>
                                    <th width="20%" class="ac">編集・削除</th>
									<th width="20%" class="ac">編集・削除</th>
									<th width="20%" class="ac">編集・削除</th>
									<th width="20%" class="ac">編集・削除</th>
                                </tr>
								{foreach from=$admin_list item=admin}
                                <tr>
								<form name="form"action="manager_list.php" method="post">
                                    <td><input type="checkbox"name="admin[]"value="{$admin['admin_id']}"class="checkbox" style="margin-bottom:7px;"onClick="DisChecked1();" /></td>
									<td>{$admin['auth_adm_id']}</td>
                                    <td>{$admin['adm_name']}</td>
									<td>{$admin['adm_created_date']}</td>
                                    <td>{$admin['adm_write']}</td>
									<td>{$admin['adm_read']}</td>
									<td>{$admin['adm_create']}</td>
									<td>{$admin['adm_delete']}</td>
                                    <td><input class="delbtn" type="submit" id="delBtn1" value="編集"style="width:50px;height:30px"></td>
								</tr>
								{/foreach}
                            </table>
                             <div class="pagging">
							 		{if $max == 0}
									<div class="left">表示中 0</div>
									{elseif $limit>$max-$from}
									<div class="left">表示中 {$from+1}-{$max}</div>
									{else}
									<div class="left">表示中 {$from+1}-{$from+$limit}</div>
									{/if}
									{if $now_page-1>0}
									<a href="manager_list.php?page={$now_page-1}">前へ</a>
									{else}
									<a href="manager_list.php?page={$now_page}">前へ</a>
									{/if}
									{for $start=1 to $limit_page}
									<a href="manager_list.php?page={$start}">{$start}</a>
									{/for}
									{if $limit_page>4}
									<span>...</span>
									<a href="manager_list.php?page={$page_max}">{$page_max}</a>
									{/if}
									{if $now_page+1>$page_max}
									<a href="manager_list.php?page={$now_page}">次へ</a>
									{else}
									<a href="manager_list.php?page={$now_page+1}">次へ</a>
									{/if}
									<a href="manager_list.php?limit=over">全て表示</a>
								</div>
                            </div>
                        </div>
		        </div>
			 {literal}
			<script>		
				//チェックボタン
				// 「全て選択」チェックで全てにチェック付く
				function AllChecked(){
					var check =  document.form.all.checked;
					for (var i=0; i<document.form.elements['admin[]'].length; i++){
						document.form.elements['admin[]'][i].checked = check;
					}
				}
				// 一つでもチェックを外すと「全て選択」のチェック外れる
				function　DisChecked(){
					var checks = document.form.elements['admin[]'];
					var checksCount = 0;
					for (var i=0; i<checks.length; i++){
						if(document.form.elements['admin[]'][i].checked == false){
							document.form.all.checked = false;
						}else{
							checksCount += 1;
							if(checksCount == document.form.elements['admin[]'][i].length){
							document.form.all.checked = true;
							}
						}
					}
				}
			</script>
			 {/literal}
			<noscript>スクリプトが使えないときに表示されます</noscript>
		   </div>
		  </div>
	     </div>
	    </div>
	    </div>
			<span id="all_check"style="position:absolute;top:185px;left:56%"><input name="all" type="checkbox"style="transform:scale(1.2);margin-right:5px;margin-top:4px;"onClick="AllChecked();"/>全てチェック</span>
			<input id="all_delete"type="submit"style="position:absolute;height:30px;top:180px;left:65.3%;font-size:15px;"value="チェックを全て削除"/>
		 </form>
		 {literal}
		
</body>
{/literal}
</html>	