<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>RE:SURVIVAL : 出品</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>


<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<link href="css/manager.css" rel='stylesheet' type='text/css' />
<link href="css/productEx.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
{include file='shere_admin.tmpl'}
{literal}
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
<!----details-product-slider--->
<!-- Include the Etalage files -->
<link rel="stylesheet" href="css/etalage.css">
<script src="js/jquery.etalage.min.js"></script>
				<!-- Include the Etalage files -->
				<script>
						jQuery(document).ready(function($){
			
							$('#etalage').etalage({
								thumb_image_width: 300,
								thumb_image_height: 400,
								
								show_hint: true,
								click_callback: function(image_anchor, instance_id){
									alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
								}
							});
							// This is for the dropdown list example:
							$('.dropdownlist').change(function(){
								etalage_show( $(this).find('option:selected').attr('class') );
							});

					});
				</script>
				 <!--//details-product-slider-->	
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion           
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
			   </script>	
</head>
{/literal}
<body>
	<div class="main">
	  <div class="content_box">
		<div class="container">
			<div class="row">
			
			  					<h2 class="mida">商品情報の入力</h2>
				<div class="col-md-9">
					<div class="dreamcrub">
						<ul class="breadcrumbs">
							<li class="home">
							<a href="product_list.php" title="Go to Home Page">Home</a>&nbsp;
							<span>&gt;</span>
							</li>
							<li class="home">&nbsp;
								Apparel&nbsp;
								<span>&gt;</span>&nbsp;
							</li>
							<li class="home">&nbsp;
								&nbsp;Women
								<span>&gt;</span>&nbsp;
							</li>
							<li class="women">
							Peekey Cropped
							</li>
						</ul>
						<ul class="previous">
							<li><a href="product_list.php">商品一覧へ</a></li>
						</ul>
						
						<div class="clearfix"></div>
					</div>
			   <div class="singel_right">
					<div class="labout span_1_of_a1">
					<!-- start product_slider -->
                    
					<!-- end product_slider -->
			  		</div>
				<div class="cont1 span_2_of_a1">
					<form action="" id="productEx" method="post" enctype="multipart/form-data" autocomplete="off">	
						<p class="syouhin">
						商品名
						</p>
						<U id="product_name_error"></U><!-- error -->
						<input type="text" class="proname" name="product_name" size="30">
						<br>
						<p class="nedan">
						値段
						</p>
						<U id="price_error"></U><!-- error -->
						<input type="text" class="pri"name="price" size="20">
						<br>
						<p class="category1">
						カテゴリ
						</p>
						<U id="product_category_error"></U><!-- error -->
						<select name="product_category" class="category2">
							<option value="1">販売商品</option>
							<option value="2">レンタル商品</option>
						</select>
						<br>
						<p class="genre1">
							<!-- ジャンル<input type="text" name="genre_id" size="200"> -->
							ジャンル
						</p>
						<U id="genre_id_error"></U><!-- error -->
						<select name="genre_id" class="genre2">
								{foreach from=$rows item=valueString}
									<option value="{$valueString['genre_id']}">{$valueString['genre_name']}</option>
								{/foreach}
							</select>
						<br>	
						<p class="zaiko">
						在庫数
						</p>
						<U id="stock_error"></U><!-- error -->
						<input type="number" class="zaiko1" name="stock" size="20" min="1"value="1">
						<br>
						<p class="syouhin1">
						商品説明<br>					
						</p>
						<U id="product_text_error"></U><!-- error -->
						<textarea name="product_text" class="syouhin2" rows="4" cols="40"></textarea>
						<br>
						<!--画像選択フォーム-->
						<p class="gazou">
							画像
						</p>	
						<div class="gazou1">	
						<label>
								<span class="filelabel1" title="ファイルを選択">
									<img src="./images/fileSelect.png" width="32" height="26">
									<span id="selectednum1">選択</span>
								</span>
								<input type="file" name="image_file1" accept="image/*" id="filesend1" accept=".jpg,.gif,.png,image/gif,image/jpeg,image/png">
							</label>
							<!--画像プレビューボックス-->
							<span id="previewbox1"></span>
						<p></p>	
							<label>
								<span class="filelabel2" title="ファイルを選択">
									<img src="./images/fileSelect.png" width="32" height="26" >
									<span id="selectednum2">選択</span>
								</span>
								<input type="file" name="image_file2" accept="image/*" id="filesend2" accept=".jpg,.gif,.png,image/gif,image/jpeg,image/png">
							</label>
							<span id="previewbox2"></span>
						<p></p>
							<label>
								<span class="filelabel3" title="ファイルを選択">
									<img src="./images/fileSelect.png" width="32" height="26">
									<span id="selectednum3">選択</span>
								</span>
								<input type="file" name="image_file3" accept="image/*" id="filesend3" accept=".jpg,.gif,.png,image/gif,image/jpeg,image/png">
							</label>
							<span id="previewbox3"></span>
						</div>		
						<br>
						<div class="btn_form">
						<input type="submit" class="Exhibition" value="出品" title="">
					</form>
				</div>
			</div>
			<script src="js/validate.js" type="text/javascript"></script>
			<div class="clearfix"></div>
		   </div>
		  
		</div>
	    </div>
		
		<script language="JavaScript" src="js/fileSelect.js" type="text/javascript"></script>
</body>
</html>		