<!--A Design by W3layous
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>RE:SURVIVAR : レビュー詳細</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/adm_header.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<link href="css/review_details.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
{include file='shere_admin.tmpl'}
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
{literal}
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
{/literal}	
</head>
<body>
   <div class="main">
   <div class="all">	
	  <div class="content_box">
		<div class="container">
        
			<div class="row">
            
			  <div class="col-md-9">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="admin_top.php" title="Go to Home Page">top</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       レビュー詳細
                    </li>
                 </ul>
                 <ul class="previous">
                        <li><a href="admini_review.php">前のページへ戻る</a></li>
                 </ul>
                <div class="clearfix"></div>
			   </div>
               <div class="box"style="margin-top:50px;"> 
                    <div class="box-head">
                        <h2 class="left">レビュー詳細</h2>
                    </div>
                    <div class="table">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                            <th>ユーザーID:{$view['customer_id']}</th>
                            </tr>
                            <tr>
                            <th>商品名:{$view['product_name']}</th>
                            </tr>
                            <tr>
                            <th>投稿日時:{$view['review_date']}</th>
                            </tr>
							<tr>
                            <th>レート:<span class="rate" style="letter-spacing:1px;">{for $foo=1 to $view['review_value']}☆{/for}</span></th>
                            </tr>
                        </table>
                        <textarea readonly id="co" rows="10" cols="110">{$view['review']}</textarea><br>
						<input id="saku" type="submit" value="削除">
                        <a href="http://wiz.developluna.jp/~tmH2019/lampTeamH/sources/admini_review.php">
                        <input id="sou" type="submit" value="確認">
                        </a>
                    </div>
		        </div>
		        <div class="clearfix"></div>
		    </div>
            </div>
		   </div>
		  </div>
	     </div>
	    </div>
	    </div>
	
</body>
</html>		