<div class="gray top">
<ul>
<li><a href="#">TOP</a></li>
<li><a href="#">お買い物カゴ</a></li>
<li><a href="#">お問い合わせ</a></li>
<li><a href="#">ガイド/返品</a></li>
</ul>
</div>
<div id="header_shere">
 <img class="users" src="images/user.png">
<h1><a href="#"><img src="images/title_logo.png" width="130px" height="100px"></a></h1>
<form id="form1" action="URL">
<input id="sbox"  id="s" name="s" type="text" placeholder="キーワードを入力" />
<input id="sbtn" type="submit" value="検索" />
</form>
<div class="container1">
<a href="loginH.php" class="btn-border">ログイン</a>
<a href="user_Register.php" class="btn-border">新規登録</a>
</div>
<div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
      <div class="hamburger-top"><label class="cancel" for="nav-input"></label></div>
      <ul>
      <p>
      <img src="images/user.png" width="100px" height="100px">
      <p>ユーザID</p>
      <p>メアド</p>
      </p>
      <li><a href="#"><img src="images/top.png" width="40px" height="40px">Top</a></li>
      <li><a href="cart.php"><img src="images/cart1.png" width="40px" height="40px">カート</a></li>
      <li><a href="#"><img src="images/tutorial.png" width="40px" height="40px">初めての方へ</a></li>
      <li><a href="#"><img src="images/message.png" width="40px" height="40px">お問い合わせ</a></li>
      <li><a href="#"><img src="images/logout.png" width="40px" height="40px">ログアウト</a></li>
      </ul>
      </div>
  </div>
    </div>
  