<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--cssはstyle.cssを編集せずにそのまま使いました-->
<!DOCTYPE HTML>
<html>
<head>

<title>RE:SURVIVAL : 会員登録</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<link href="css/manager.css" rel='stylesheet' type='text/css' />
<link href="css/modal.css" rel='stylesheet' type='text/css' />
<link href="css/productEx.css" rel='stylesheet' type='text/css' />
<link href="css/user_check.css" rel="stylesheet" type="text/css">
<link href="css/user_register.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<script type="text/javascript" src="https://ajaxzip3.github.io/ajaxzip3.js" charset="utf-8"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
{include file='shere_noncart.tmpl'}
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
{literal}
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
<script>
(function ( $ ) {
	var elActive = '';
    $.fn.selectCF = function( options ) {
 
        // option
        var settings = $.extend({
            color: "#FFF", // color
            backgroundColor: "#50C9AD", // background
			change: function( ){ }, // event change
        }, options );
 
        return this.each(function(){
			
			var selectParent = $(this);
				list = [],
				html = '';
				
			//parameter CSS
			var width = $(selectParent).width();
			
			$(selectParent).hide();
			if( $(selectParent).children('option').length == 0 ){ return; }
			$(selectParent).children('option').each(function(){
				if( $(this).is(':selected') ){ s = 1; title = $(this).text(); }else{ s = 0; }
				list.push({ 
					value: $(this).attr('value'),
					text: $(this).text(),
					selected: s,
				})
			})
			
			// style
			var style = " background: "+settings.backgroundColor+"; color: "+settings.color+" ";
			
			html += "<ul class='selectCF'>";
			html += 	"<li>";
			html += 		"<span class='arrowCF ion-chevron-right' style='"+style+"'></span>";
			html += 		"<span class='titleCF' style='"+style+"; width:"+width+"px'>"+title+"</span>";
			html += 		"<span class='searchCF' style='"+style+"; width:"+width+"px'><input style='color:"+settings.color+"' /></span>";
			html += 		"<ul>";
			$.each(list, function(k, v){ s = (v.selected == 1)? "selected":"";
			html += 			"<li value="+v.value+" class='"+s+"'>"+v.text+"</li>";})		
			html += 		"</ul>";
			html += 	"</li>";
			html += "</ul>";
			$(selectParent).after(html);
			var customSelect = $(this).next('ul.selectCF'); // add Html
			var seachEl = $(this).next('ul.selectCF').children('li').children('.searchCF');
			var seachElOption = $(this).next('ul.selectCF').children('li').children('ul').children('li');
			var seachElInput = $(this).next('ul.selectCF').children('li').children('.searchCF').children('input');
			
			// handle active select
			$(customSelect).unbind('click').bind('click',function(e){
				e.stopPropagation();
				if($(this).hasClass('onCF')){ 
					elActive = ''; 
					$(this).removeClass('onCF');
					$(this).removeClass('searchActive'); $(seachElInput).val(''); 
					$(seachElOption).show();
				}else{
					if(elActive != ''){ 
						$(elActive).removeClass('onCF'); 
						$(elActive).removeClass('searchActive'); $(seachElInput).val('');
						$(seachElOption).show();
					}
					elActive = $(this);
					$(this).addClass('onCF');
					$(seachEl).children('input').focus();
				}
			})
			
			// handle choose option
			var optionSelect = $(customSelect).children('li').children('ul').children('li');
			$(optionSelect).bind('click', function(e){
				var value = $(this).attr('value');
				if( $(this).hasClass('selected') ){
					//
				}else{
					$(optionSelect).removeClass('selected');
					$(this).addClass('selected');
					$(customSelect).children('li').children('.titleCF').html($(this).html());
					$(selectParent).val(value);
					settings.change.call(selectParent); // call event change
				}
			})
				
			// handle search 
			$(seachEl).children('input').bind('keyup', function(e){
				var value = $(this).val();
				if( value ){
					$(customSelect).addClass('searchActive');
					$(seachElOption).each(function(){
						if( $(this).text().search(new RegExp(value, "i")) < 0 ) {
							// not item
							$(this).fadeOut();
						}else{
							// have item
							$(this).fadeIn();
						}
					})
				}else{
					$(customSelect).removeClass('searchActive');
					$(seachElOption).fadeIn();
				}
			})
			
		});
    };
	$(document).click(function(){
		if(elActive != ''){
			$(elActive).removeClass('onCF');
			$(elActive).removeClass('searchActive');
		}
	})
}( jQuery ));

$(function(){
  var event_change = $('#event-change');
  $( ".select" ).selectCF({
    change: function(){
      var value = $(this).val();
      var text = $(this).children('option:selected').html();
    }
  });
  $( ".test" ).selectCF({
    color: "#FFF",
    backgroundColor: "#663052",
  });
})
</script>
{/literal}
</head>
<body>
<!--======================================================-->
<!--編集内容確認-->
<!--======================================================-->
<div class="popup" id="js-popupHensyu">
	<div class="popup-inner">
		<div class="register-box31">
			<div class="register-box-title">CHECK</div>
				<p>
					<form> 
						<div class="register-top-grid">
							<center>
								<h3><font size="5">編集内容</font></h3>
							</center>
						</div>
		　        	</form>
					<div class="clearfix"> </div>
					<div class="register-but-adm">
				　        <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
							<!--性別-->
							<input type="hidden" name="sex" id="sex" disabled="disabled" ><!--性別の数字(value)-->
							<input type="text" name="sex_kakunin" id="sex_kakunin" disabled="disabled" ><!--性別文字列(value)-->
							<!--氏-->
							<input type="text" name="last_name" id="last_name_kakunin" disabled="disabled">円
							<!--せい-->
							<input type="text" name="last_name_kana" id="last_name_kana_kakunin" disabled="disabled">
							<!--名-->
							<input type="text" name="first_name" id="first_name_kakunin" disabled="disabled">
							<!--めい-->
							<input type="text" name="first_name_kana" id="first_name_kana_kakunin" disabled="disabled">
							<!--ゆうびんばんごう1-->
							<input type="text" name="zip21" id="zip21_kakunin"  disabled="disabled">ー
							<!--ゆうびんばんごう2-->
							<input type="text" name="zip22" id="zip22_kakunin" disabled="disabled">
							<!--住所-->
							<input type="text" name="addr21" id="addr21_kakunin" disabled="disabled">
							<!--ID-->
							<input type="text" name="customer_id" id="customer_id_kakunin" disabled="disabled">
							<!--パスワード-->
							<input type="text" name="customer_password" id="customer_password_kakunin" disabled="disabled">d

							<input type="submit" name="kakunin" value="登録" title="">
						</form>
					</div>
				</p>
			</div>
		</div>
	<div class="black-background" id="js-black-bgHensyu"></div>
</div>
	<!--会員登録のクラス-->
	
    <div class="main">
	   <div class="container">
		  <div class="regist" style="height:700px;">
		  	  <form action="user_change.php" id="register" method="post" style="height:100%;"enctype="multipart/form-data"> 
				
				 <div class="regi1">
					<h3>会員登録</h3>
					<div id="wapper">
					<span><p>性別 <U id="last_name"></U></p></span>
					<div class="style1">
					<select class="select" name="sex_error" id="sex_kakuninid">
					<option value="1">性別を選択してください</option>
					 <option value="2">男</option>
					 <option value="3">女</option>
					 <option value="4">その他</option>
					 </select>
					 </div>
					 <div id="event-change"></div>
					 </div>
					 <div class="customer2">
						<span><p>氏 <U id="last_name_error"></U></p></span>
						<input type="text" name="last_name" id="last_name" class="name1" value="{$last_name}"> 
					 </div>
					 <div class="customer2">
						<span><p>せい <U id="last_name_kana_error"></U></p></span>
						<input type="text" name="last_name_kana" id="last_name_kana" class="name1" value="{$last_name_kana}"> 
					 </div>
					 <div class="customer2">
						<span><p>名 <U id="first_name_error"></U></p></span>
						<input type="text" name="first_name" id="first_name" class="name1" value="{$first_name}"> 
					 </div>
					 <div class="customer2">
						<span><p>めい <U id="first_name_kana_error"></U></p></span>
						<input type="text" name="first_name_kana" id="first_name_kana" class="name1" value="{$first_name_kana}"> 
					 </div>
					 <div class="customer3">
					 <span><p>郵便番号 <U id="zip21_error"></U></p></span>
					 <input type="text" class="form_text-small" name="zip21" value="{if isset($postal1)}{$postal1}{/if}"id="zip21" size="4" maxlength="3"> － <input type="text" class="form_text-small"value="{if isset($postal2)}{$postal2}{else}{/if}" name="zip22" id="zip22"  size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('zip21','zip22','addr21','addr21');">
					 </div>
					 <div class="customer4">
						<span><p>住所 <U id="addr21_error"></U></p></span>
						<input type="text" name="addr21" id="addr21"  value="{$customer_address}"> 
					 </div>
					  <div class="customer5">
						 <span><p>メールアドレス <U id="customer_email_register_error"></U></p></span>
						 <input type="text" name="customer_email" id="customer_email"  class="name1" autocomplete="off" value="{$customer_email}">
					 </div>
							<div class="regist_headding"><h3>ID変更</h3></div>
							<div class="customer6">
								{if $flg['customer_id'] eq true}<font color="red">このIDは使用されています</font>{/if}
								<span><p>ID <U id="customer_id_error"></U></p></span>
								<input type="text" name="customer_id" id="customer_id"  autocomplete="off" value="{$customer_id}">
							 </div>
					 		</div>
							  <input style="top:905px !important;"type="submit" class="kakunin"  id="js-show-popupHensyu" value="確認">
				</form>
			</div>
				{literal}
					<script>
						function popupImage() {
							var popup = document.getElementById('js-popupHensyu');
							if(!popup) return;
							
							var blackBg = document.getElementById('js-black-bgHensyu');
							var closeBtn = document.getElementById('js-close-btn');
							var showBtn = document.getElementById('js-show-popupHensyu');

							closePopUp(blackBg);
							closePopUp(closeBtn);
							closePopUp(showBtn);
							function closePopUp(elem) {
								if(!elem) return;
									
							
								elem.addEventListener('click', function() {
									//============================================
									//ポップアップ内のinputタグの要素を取得し、
									//入力された値を渡す。
									//============================================
									//product_name商品名
									
									//性別の文字列の処理
									sex_kakunin = document.getElementById("sex_kakunin");
									if(document.forms.register.sex_id.value === "2"){
										sex.value = "男"
									}else if(document.forms.register.sex_id.value === "3"){
										sex_kakunin.value = "女"
									}else{
										sex_kakunin.value = "その他"
									}

									//性別の数字処理の処理 hiddenの数字
									sex = document.getElementById("sex");
									sex.value = document.forms.register.sex_kakuninid.value;
									

									//氏　確認
									last_name_kakunin = document.getElementById("last_name_kakunin");
									product_price_kakunin.value = document.forms.register.last_name.value;

									//product_stock在庫
									product_stock_kakunin = document.getElementById("product_stock_kakunin");
									product_stock_kakunin.value = document.forms.register.product_stock_id.value; 
									
									//product_text商品説明
									product_text_kakunin = document.getElementById("product_text_kakunin");
									product_text_kakunin.textContent  = document.forms.register.product_text_id.value;
									popup.classList.toggle('is-show');
								});
							}
						}
						popupImage();
					</script>
				{/literal}
				<script src="js/validate.js" type="text/javascript"></script>
		   </div>
	    </div>
	</div>

		<div class="container">
		  <div class="brands">
			 <ul class="brand_icons">
				<li><img src='images/icon1.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon2.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon3.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon4.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon5.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon6.jpg' class="img-responsive" alt=""/></li>
				<li class="last"><img src='images/icon7.jpg' class="img-responsive" alt=""/></li>
			 </ul>
		   </div>
	    </div>
	    <div class="container">
	      <div class="instagram_top">
	      	<div class="instagram text-center">
				<h3><i class="insta_icon"> </i> Instagram feed:&nbsp;<span class="small">#Surfhouse</span></h3>
			</div>
	        <ul class="instagram_grid">
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i1.jpg" class="img-responsive"alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i2.jpg" class="img-responsive" alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i3.jpg" class="img-responsive" alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i4.jpg" class="img-responsive" alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i5.jpg" class="img-responsive" alt=""/></a></li>
			  <li class="last_instagram"><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i6.jpg" class="img-responsive" alt=""/></a></li>
			  <div class="clearfix"></div>
			  <div id="small-dialog1" class="mfp-hide">
				<div class="pop_up">
					<h4>A Sample Photo Stream</h4>
					<img src="images/i_zoom.jpg" class="img-responsive" alt=""/>
				</div>
			  </div>
			</ul>
		  </div>
	      <ul class="footer_social">
			<li><a href="#"> <i class="fb"> </i> </a></li>
			<li><a href="#"><i class="tw"> </i> </a></li>
			<li><a href="#"><i class="pin"> </i> </a></li>
			<div class="clearfix"></div>
		   </ul>
	    </div>
        <div class="footer">
			<div class="container">
				<div class="footer-grid">
					<h3>Category</h3>
					<ul class="list1">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">About us</a></li>
					  <li><a href="#">Eshop</a></li>
					  <li><a href="#">Features</a></li>
					  <li><a href="#">New Collections</a></li>
					  <li><a href="#">Blog</a></li>
					  <li><a href="#">Contact</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Our Account</h3>
				    <ul class="list1">
					  <li><a href="#">Your Account</a></li>
					  <li><a href="#">Personal information</a></li>
					  <li><a href="#">Addresses</a></li>
					  <li><a href="#">Discount</a></li>
					  <li><a href="#">Orders history</a></li>
					  <li><a href="#">Addresses</a></li>
					  <li><a href="#">Search Terms</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Our Support</h3>
					<ul class="list1">
					  <li><a href="#">Site Map</a></li>
					  <li><a href="#">Search Terms</a></li>
					  <li><a href="#">Advanced Search</a></li>
					  <li><a href="#">Mobile</a></li>
					  <li><a href="#">Contact Us</a></li>
					  <li><a href="#">Mobile</a></li>
					  <li><a href="#">Addresses</a></li>
				    </ul>
				  </div>
				  <div class="footer-grid">
					<h3>Newsletter</h3>
					<p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
					<div class="search_footer">
					{literal}
			          <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Insert Email';}">
			          <input type="submit" value="Submit">
					{/literal}
			        </div>
			        <img src="images/payment.png" class="img-responsive" alt=""/>
				 </div>
				 <div class="footer-grid footer-grid_last">
					<h3>About Us</h3>
					<p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,.</p>
                    <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;00-250-2131</p>
                    <p class="email">Email: &nbsp;&nbsp;&nbsp;<span>info(at)Surfhouse.com</span></p>	
                 </div>
				 <div class="clearfix"> </div>
			</div>
		</div>
        <div class="footer_bottom">
        	<div class="container">
        		<div class="copy">
				   <p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
			    </div>
        	</div>
        </div>
</body>
</html>		