<!--
	ここ最後まで読んでくれ
	よめ
	よめ
	よめ
	よめ
「商品一覧ページ」
class は　CSSなどにあらかじめ設定してある色などを設定することができる
cart_bgって名前のclassはオレンジ色にしたりする
(css/style.cssの174行目参照)

	ーーーーーーーーーーーーーー見るところーーーーーーーーーーーーーーーーーー
	1.CSSファイルは読まなくていい(時間の無駄)
	2.Clasに設定している物によって、「何色に変わるか」、「どんなフォントになるか」「どんな配置になるか」
	を見てくれ
	3.Classでよく使われている [clearfix]そして、[container] ってのがあるんだけど、
	これが超重要になる 
	clearfixについて：http://creator.aainc.co.jp/archives/4721
	container:https://www.ipentec.com/document/html-css-bootstrap-container
	ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

	６分くらいでよめるから頑張ってくれ！
	あと時間あったらJquery調べといて！よろ
-->
<!DOCTYPE HTML>
<html>
<head>

<!-- タイトル名の設定と、CSSの読み込み -->
<title>Surfhouse Bootstarp Website Template | Home :: w3layouts</title>
<link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- jQueryの読み込み -->
<script src="js/jquery.min.js"></script>
<script src="js/tab.js"></script>

<!-- Custom Theme files -->
<link href="./css/style.css" rel='stylesheet' type='text/css' />
<link href="./css/tab.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!--webfont-->
<!-- これ大事 -->
<!-- CDN(URLでCSSを読み込むことができるもの)でフォントを設定する -->
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
</head>

<body>
<div class="header">	
		<!-- BootStrapはコンテナごとに管理する　-->		
	<div class="container">
		  <!-- 一番上の画像ゾーン  -->
        <div class="header-top">
			<!-- ロゴ -->
      		<div class="logo">
				<a href="products.php"><img src="images/logo.png" alt=""/></a>
			</div>
			<!-- SNS連携のアイコン -->
		   	<div class="header_right">
				<ul class="social">
					<li><a href=""> <i class="fb"> </i> </a></li>
					<li><a href=""><i class="tw"> </i> </a></li>
					<li><a href=""><i class="utube"> </i> </a></li>
					<li><a href=""><i class="pin"> </i> </a></li>
					<li><a href=""><i class="instagram"> </i> </a></li>
			 	</ul>
				<!-- 言語選択のリスト表示 -->
				<div class="lang_list">
					<select tabindex="4" class="dropdown">
						<option value="" class="label" value="">En</option>
						<option value="1">English</option>
						<option value="2">French</option>
						<option value="3">German</option>
					</select>
				</div>
				<!-- cleatfixのCSSはまだわからん -->
				<div class="clearfix"></div>
          	</div>
          	<div class="clearfix"></div>
		</div>
		<div class="index-banner">
       	   <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
				   <!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
				   <!-- 見てくれ -->
				   <!-- このすぐ下の<article>から</article>までがヘッダー部分(１、２、３) -->
				   <!-- になってる。次へボタン押すごとに全部出力し直してるでしょ？(ヘッダーだけ表示しなおされてる) -->
				   <!-- これはださいから修正 -->
				   <!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">
						   <!-- 左上のカートとかを出してる所 -->
				   	       <div class="bannertop_box">
								<!-- ログインボタン関連 -->
				   		 		<ul class="login">
									<!-- ログインボタンを押したらlogin.phpを表示する -->
				   		 			<li class="login_text"><a href="login.php">Login</a></li>
									<!-- 欲しいものリストを押したらcheckout.htmlを表示する -->
									<li class="wish"><a href="checkout.html">Wish List</a></li>
				   		 			<div class='clearfix'></div>
				   		 		</ul>
								<!-- カート値段とか×とか出してるところ	 -->
								<div class="cart_bg">
					   		 		<ul class="cart">
										<!-- カートのアイコン出して、 -->
										<!-- 合計値段とかカート内の商品数を表示(ここはDBと通信して表示する) -->
					   		 		   <i class="cart_icon"></i><p class="cart_desc">$1459.50<br><span class="yellow">2 items</span></p>
					   		 		   <div class='clearfix'></div>
										</ul>
									<!-- 閉じるアイコン いらない説 -->
					   		 		<ul class="product_control_buttons">
							  	      <li><a href="#"><img src="images/close.png" alt=""/></a></li>
							  	      <li><a href="#">Edit</a></li>
							  		</ul>
							  		<div class='clearfix'></div>
							  	</div>
								<!-- カートを表示(view cart)とチェックアウト(購入ページ説？わからん)を表示 -->
								<ul class="quick_access">
									<!-- 各ボタンを押した際、href=に設定したページへ遷移 -->
				   		 			<li class="view_cart"><a href="checkout.html">View Cart</a></li>
				   		 			<li class="check"><a href="checkout.html">Checkout</a></li>
				   		 			<div class='clearfix'></div>
								</ul>
								<!-- 検索できるところを作ってる	 -->
				   		 		<div class="search">
					  			
								</div>
								<!-- 黄色いわけのわからん奴を作ってる   -->
					  			<div class="welcome_box">
					  				<h2>Welcome to Surfhouse</h2>
					  				<p>The onliy online store you will ever need for all your windsurfing and kitesurfing and SUP nedds</p>
					  			</div>
							</div>
							<!-- 黄色の文字を出してるところ	 -->
				   		 	<div class="banner_right">
				   		 		<h1>①１っつめ<br> 2014</h1>
				   		 		<p>Super easy going freeride boards based on the X-Cite Ride shape concept with additional cpntrol and super easy jibing.</p>
				   		 		<a href="#" class="banner_btn">Buy Now</a>
				   		 	</div>
				   		 	<div class='clearfix'></div>
				   	  </div>
					</article><!-- ←←←「ここまで」 -->
					<!-- ここもおなじ -->
				   <article style="position: relative; width: 100%; opacity: 1;"> 
				   	   <div class="banner-wrap">
				   	      <div class="bannertop_box">
				   		 		<ul class="login">
				   		 			<li class="login_text"><a href="#">Login</a></li>
				   		 			<li class="wish"><a href="#">Wish List</a></li>
				   		 			<div class='clearfix'></div>
				   		 		</ul>
				   		 		<div class="cart_bg">
					   		 		<ul class="cart">
					   		 		   <i class="cart_icon"></i><p class="cart_desc">$1459.50<br><span class="yellow">2 items</span></p>
					   		 		   <div class='clearfix'></div>
					   		 		</ul>
					   		 		<ul class="product_control_buttons">
							  	      <li><a href="#"><img src="images/close.png" alt=""/></a></li>
							  	      <li><a href="#">Edit</a></li>
							  		</ul>
							  		<div class='clearfix'></div>
							  	</div>
							  	<ul class="quick_access">
				   		 			<li class="view_cart"><a href="#">View Cart</a></li>
				   		 			<li class="check"><a href="#">Checkout</a></li>
				   		 			<div class='clearfix'></div>
				   		 		</ul>
				   		 		<div class="search">
					  			 
					  			</div>
					  			<div class="welcome_box">
					  				<h2>Welcome to Surfhouse</h2>
					  				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism</p>
					  			</div>
				   		 	</div>
				   		 	<div class="banner_right">
				   		 		<h1>②２っつめ<br> 2014</h1>
				   		 		<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
				   		 		<a href="#" class="banner_btn">Buy Now</a>
				   		 	</div>
				   		 	<div class='clearfix'></div>
				   		</div>
				   </article>
				   <!-- ここもおなじ -->
				   <article style="position: absolute; width: 100%; opacity: 0;">
				   	  <div class="banner-wrap">
				   	       <div class="bannertop_box">
				   		 		<ul class="login">
				   		 			<li class="login_text"><a href="login.php">Login</a></li>
				   		 			<li class="wish"><a href="#">Wish List</a></li>
				   		 			<div class='clearfix'></div>
				   		 		</ul>
				   		 		<div class="cart_bg">
					   		 		<ul class="cart">
					   		 		   <i class="cart_icon"></i><p class="cart_desc">$1459.50<br><span class="yellow">2 items</span></p>
					   		 		   <div class='clearfix'></div>
					   		 		</ul>
					   		 		<ul class="product_control_buttons">
							  	      <li><a href="#"><img src="images/close.png" alt=""/></a></li>
							  	      <li><a href="#">Edit</a></li>
							  		</ul>
							  		<div class='clearfix'></div>
							  	</div>
							  	<ul class="quick_access">
				   		 			<li class="view_cart"><a href="#">View Cart</a></li>
				   		 			<li class="check"><a href="#">Checkout</a></li>
				   		 			<div class='clearfix'></div>
				   		 		</ul>
				   		 		
					  			<div class="welcome_box">
					  				<h2>Welcome to Surfhouse</h2>
					  				<p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
					  			</div>
				   		 	</div>
				   		 	<div class="banner_right">
				   		 		<h1>③3っつめ<br> 2014</h1>
				   		 		<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera.</p>
				   		 		<a href="#" class="banner_btn">Buy Now</a>
				   		 	</div>
				   		 	<div class='clearfix'></div>
				   		 </div>
					 </article>
				 </div>

				<a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="wmuActive">2</a></li>
                </ul>
			</div>
			<!-- おそらくクリックしたときに、スライドさせてくれる関数だと思われます -->
			<!-- Jqueryむずすぎ -->
            <script src="js/jquery.wmuSlider.js"></script> 
			  <script>
       			$('.example1').wmuSlider();         
   		     </script> 	           	      
      	</div>
	 </div>     
</div>
	<!-- ここから商品一覧らへん -->
	<div class="main">
	  <div class="content_box">
		<div class="container">
		<h3 class="m_1"style="margin-left:40px">Products</h3>
		<ul class="tab-group">
			<li class="tab is-active">販売商品</li>
			<li class="tab">レンタル商品</li>
			<li class="tab">フリマ商品</li>
		</ul>
			<div >
				<div class="col-md-3">
					<!-- classにメニューボックスってある通り左にある -->
					<!-- メニューボタンを表示してる -->
					<!-- このリンク先に商品IDを付与してアクセスすることでDBから対象の情報とかを持ってきて
					表示させれば商品詳細は完了 -->
					
				</div>
				<!-- あと商品出してるだけ -->
			<div>
			<!--タブ-->
				
			<div style="margin:left">
			   <div style="margin:left">
				<ul class="sort_command">
					<li ><a href="#">五十音順</a></li>
					<li ><a href="#">売れ筋順</a></li>
					<li ><a href="#">価格高い順</a></li>
					<li ><a href="#">価格低い順</a></li>
					<ul>
					</ul>
					<ul>
					<li ><a href="#">１</a></li>
					<li ><a href="#">２</a></li>
					<li ><a href="#">３</a></li>
					<li ><a href="#">４</a></li>
					<li ><a href="#">５</a></li>
					</ul>
				</ul>
				
				<ul style="font-size:0">
				<li style="display: inline-block">
				<table width="150px" height="400px" class="products_category" border="1" cellspacing="0" cellpadding="5" bordercolor="#333333">
				<tr>
				<td id="category">カテゴリ</td>
				</tr>
				<tr>
				<td><a href="#">ライティング</a></td>
				</tr>
				<tr>
				<td><a href="#">バッグ</a></td>
				</tr>
				<tr>
				<td><a href="#">テント＆タープ</a></td>
				</tr>
				<tr>
				<td><a href="#">スリーピングバッグ</a></td>
				</tr>
				<tr>
				<td><a href="#">クッキング＆ヒーティング</a></td>
				</tr>
				<tr>
				<td><a href="#">クーラー＆ジャグ</a></td>
				</tr>
				<tr>
				<td><a href="#">ファニチャー</a></td>
				</tr>
				</table>
				</li>
				<!--タブを切り替えて表示するコンテンツ-->
				<div class="panel-group" style="float:right">
				<li style="display: inline-block">
					<div class="panel is-show">
					 <div class="content_grid">
				   <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic1.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>	
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic2.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                    <div class="sale-box1"><span class="on_sale1 title_shop">New</span></div>	
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic3.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				   <div class="clearfix"></div>
			  </div>
			  <div class="content_grid">
				  <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic4.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                  </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic5.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic6.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				     </div>
				    <div class="clearfix"></div>
			   </div>
			   <div class="content_grid">
			   		<div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic7.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic8.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic13.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="clearfix"></div>
			    </div>
			   <div class="content_grid">
			   		<div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic10.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic11.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic12.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
					</div>
				</div>
				</li>
				<li style="display: inline-block">
					<div class="panel">
					 <div class="content_grid">
				   <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic1.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>	
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic2.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                    <div class="sale-box1"><span class="on_sale1 title_shop">New</span></div>	
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic3.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				   <div class="clearfix"></div>
			  </div>
			  <div class="content_grid">
				  <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic4.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                  </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic5.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic6.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				     </div>
				    <div class="clearfix"></div>
			   </div>
			   <div class="content_grid">
			   		<div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic7.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic8.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic13.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="clearfix"></div>
			    </div>
			   <div class="content_grid">
			   		<div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic10.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic11.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic12.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
					</div>
				</div>
				</li>
				<li style="display: inline-block">
					<div class="panel">
					 <div class="content_grid">
				   <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic1.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>	
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic2.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                    <div class="sale-box1"><span class="on_sale1 title_shop">New</span></div>	
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic3.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				   <div class="clearfix"></div>
			  </div>
			  <div class="content_grid">
				  <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic4.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                  </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic5.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic6.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				     </div>
				    <div class="clearfix"></div>
			   </div>
			   <div class="content_grid">
			   		<div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic7.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic8.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic13.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="clearfix"></div>
			    </div>
			   <div class="content_grid">
			   		<div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic10.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic11.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
				    <div class="col_1_of_3 span_1_of_3"> 
				  	 <div class="view view-first">
					      <a href="single.html">
						   <div class="inner_content clearfix">
							<div class="product_image">
								<img src="images/pic12.jpg" class="img-responsive" alt=""/>
								<div class="mask">
		                       		<div class="info">Quick View</div>
				                  </div>
								<div class="product_container">
								   <div class="cart-left">
									 <p class="title">Lorem Ipsum 2014</p>
								   </div>
								   <div class="price">$99.00</div>
								   <div class="clearfix"></div>
							     </div>		
							</div>
		                   </div>
		                 </a>
				       </div>
				    </div>
					</div>
				</div>
				</li>
				<ul>
				   <div class="clearfix"></div>
			    </div>
			  </div>
			</div>
		 </div>
		</div>
		</div>
		<!-- アイコンだしてるだけ -->
		<div class="container">
		  <div class="brands">
			 <ul class="brand_icons">
				<li><img src='images/icon1.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon2.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon3.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon4.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon5.jpg' class="img-responsive" alt=""/></li>
				<li><img src='images/icon6.jpg' class="img-responsive" alt=""/></li>
				<li class="last"><img src='images/icon7.jpg' class="img-responsive" alt=""/></li>
			 </ul>
		   </div>
		</div>
		<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
		<!-- 注目 -->
		<!-- ここ嘘に使えます -->
		<!-- インスタに上がってますよアピール -->
		<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
	    <div class="container">
	      <div class="instagram_top">
	      	<div class="instagram text-center">
				<h3><i class="insta_icon"> </i> Instagram feed:&nbsp;<span class="small">#Surfhouse</span></h3>
			</div>
			<!-- クリックしたらその画像表示する -->
	        <ul class="instagram_grid">
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i1.jpg" class="img-responsive"alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i2.jpg" class="img-responsive" alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i3.jpg" class="img-responsive" alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i4.jpg" class="img-responsive" alt=""/></a></li>
			  <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i5.jpg" class="img-responsive" alt=""/></a></li>
			  <li class="last_instagram"><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i6.jpg" class="img-responsive" alt=""/></a></li>
			  <div class="clearfix"></div>
			  <div id="small-dialog1" class="mfp-hide">
				<div class="pop_up">
					<h4>A Sample Photo Stream</h4>
					<img src="images/i_zoom.jpg" class="img-responsive" alt=""/>
				</div>
			  </div>
			</ul>
		  </div>
		  <!-- このhrefにリンクつけて -->
		  <!-- Facebook(fb)Twitter(tw)しらね(しらね)のページにでも飛ばすか？ -->
	      <ul class="footer_social">
			<li><a href="#"> <i class="fb"> </i> </a></li>
			<li><a href="#"><i class="tw"> </i> </a></li>
			<li><a href="#"><i class="pin"> </i> </a></li>
			<div class="clearfix"></div>
		   </ul>
	    </div>
	 </div>
	 <!-- いろいろ詰め込んどけゾーン -->
     <div class="footer">
			<div class="container">
				<div class="footer-grid">
					<h3>Category</h3>
					<ul class="list1">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">About us</a></li>
					  <li><a href="#">Eshop</a></li>
					  <li><a href="#">Features</a></li>
					  <li><a href="#">New Collections</a></li>
					  <li><a href="#">Blog</a></li>
					  <li><a href="#">Contact</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Our Account</h3>
				    <ul class="list1">
					  <li><a href="#">Your Account</a></li>
					  <li><a href="#">Personal information</a></li>
					  <li><a href="#">Addresses</a></li>
					  <li><a href="#">Discount</a></li>
					  <li><a href="#">Orders history</a></li>
					  <li><a href="#">Addresses</a></li>
					  <li><a href="#">Search Terms</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Our Support</h3>
					<ul class="list1">
					  <li><a href="#">Site Map</a></li>
					  <li><a href="#">Search Terms</a></li>
					  <li><a href="#">Advanced Search</a></li>
					  <li><a href="#">Mobile</a></li>
					  <li><a href="#">Contact Us</a></li>
					  <li><a href="#">Mobile</a></li>
					  <li><a href="#">Addresses</a></li>
				    </ul>
				  </div>
				  <div class="footer-grid">
					<h3>Newsletter</h3>
					<p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
					
			        <img src="images/payment.png" class="img-responsive" alt=""/>
				 </div>
				 <div class="footer-grid footer-grid_last">
					<h3>About Us</h3>
					<p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,.</p>
                    <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;00-250-2131</p>
                    <p class="email">Email: &nbsp;&nbsp;&nbsp;<span>info(at)Surfhouse.com</span></p>	
                 </div>
				 <div class="clearfix"> </div>
			</div>
		</div>
        <div class="footer_bottom">
        	<div class="container">
        		<div class="copy">
				   <p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
			    </div>
        	</div>
        </div>
</body>
</html>		